.navbar{
    width: 100vw;
    height: 14.4rem;
    background-color: #CD050D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_child_div{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_image{
    width: 20%;
    text-align: center;
}
.navbar_image > img{
    height: 10rem;
}
.navbar_elements{
    width: 65%;
}

.navbar_elements > ul{
    font-size: 2rem;

    display: flex;
    justify-content: space-around;
}
.navbar_elements > ul > li{
    list-style-type: none;
    list-style: none;
    font-weight: 300;
    font-size: 2.2rem;
    color: white;
    font-family: 'Grape Nuts', cursive;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 340px){

       .navbar_elements > ul > li{
        list-style-type: none;
        list-style: none;
        font-size: 4.2rem;
        color: red;
        font-family: 'Inter', sans-serif;
    }

}


.login_ipo_btn{
    width: 24%;
    display: flex;
    justify-content: space-around;
}
.login_ipo_btn > button{
    border-radius: 1rem;
    font-size: 2rem;
    border-style: none;
    height: 3.7rem;
    font-weight: 200;
    width: 10.9rem;
}

@media only screen and (min-device-width : 770px) and (max-device-width : 1220px) {
    
    .navbar_child_div {
        width: 99%;
    }
    .navbar_image {
        width: 12%;
        text-align: center;
    }
    .navbar_elements > ul > li {
        font-size: 2.8rem;
    }
    .login_ipo_btn > button {
        font-size: 2.9rem;
        height: 4.9rem;
        width: 13.9rem;
    }

    .welcome_kalpataru {
        margin-top: -6rem;
    }
    .testimonials_content_child_all_cards_crd_txt > div > h2 {
        font-size: 2.1rem;
    }
    
}
