.insurance_top{
    width: 80vw;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.insurance_top_txt{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
    height: 25rem;
}
.insurance_top_txt > h1{
    font-weight: 500;
    font-size: 4rem;
}
.insurance_top_txt > p{
    font-weight: 400;
    font-size: 2.5rem;
}
.insurance_top_img > img{

    width: 45rem;

}

/* .insurance_mid */

.insurance_mid{
    width: 80vw;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-left: auto;
    font-family: 'Inter', sans-serif;
    margin-right: auto;
}

.insurance_mid_title{
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 1rem 2.5rem 1rem 2.5rem;
    font-weight: 400;
    font-size: 2rem;
    background-color: #103E60;
    
}

.insurance_mid_performance{
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
}
.insurance_mid_performance1 > h1{
  text-align: start;
  font-size: 4rem;
  padding: 6rem;
}
.insurance_mid_performance2{
    width: 100%;
    display: flex;
}
.insurance_mid_performance2 > div > h3 {

    font-size: 2rem;

}
.insurance_mid_performance2_low{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.insurance_mid_performance2_high{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.insurance_mid_performance2_bar{
    width: 80%;
    display: flex;
    align-items: center;
}
.insurance_mid_performance2_bar > div{
    min-height: 1rem;
    border-radius: 1rem;
    width: 100%;
    background-color: #C53F3F;
}
.insurance_mid_performance3{
    padding-top: 4rem;
    width: 100%;
}
.insurance_mid_performance3_child_div h3{
    font-weight: 200;
    font-size: 2rem;
}
.insurance_mid_performance3_child_div p{
    font-weight: 500;
    font-size: 2rem;
}
.insurance_mid_performance3_child{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.about_insurance{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about_insurance1 {
    padding-bottom: 3rem;
}
.about_insurance1 > h1 {
    font-size: 5rem;
}
.about_insurance2 > p {
    font-size: 2rem;
}